/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/about.css ***!
  \************************************************************************/
/* about.css */
@font-face {
    font-family: 'Alegreya SC';
    src: url(0f220b52f43e80d3c03f.ttf);
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(b1d0ab70303caea663db.ttf);
    font-display: swap;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

html, body {
    margin: 0;
    padding: 0;
    background: rgba(201, 170, 180, .3);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* MAIN/WRAP */
#about-main-body {
    display: flex;
    flex-direction: column;
}


/* ABOUT TOP LANDING */
#landing-wrap {
    background-image: url(a8890530a595230470e1.jpeg);
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    height: 100vh;
    width: 100%;
}

.about-top-sub-cont {
    max-width: max-content;
    height: 65%;
    text-align: center;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
}


.about-top-sub-cont > h1 {
    color: white;
    font-family: 'Alegreya SC', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    letter-spacing: .2rem;
}

.about-top-sub-cont > p {
    max-width: 500px;
    font-size: 1.3rem;
    margin: 0;
    color: rgba(234, 179, 8, .9);
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    font-weight: 500;
}


/* HEADER */
.top-main {
    position: absolute;
    width: 100vw;
    height: auto;
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 5px;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.head-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
   
    padding: 8px 8px;
    margin: 0;
    height: min-content;
    cursor: pointer;
};

.head-logo {
    text-decoration: none;
    color: inherit;
}

.head-link-item > a,
#nav-srvc-menu a {
    box-sizing: border-box;
    text-decoration: none;
 }

.head-link-item > .unselected,
.head-link-item.unselected {
    color: rgba(1, 36, 86, 1);
    font-size: 22px;
    font-weight: 800;
}

.head-link-item > .unselected:hover,
.head-link-item > .unselected:active {
    color: rgba(219, 153, 36, 1);
}

.head-logo {
    position: relative;
    width: 180px;
    height: 120px;
}

.head-logo a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.head-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* HEADER: SELECTED PAGE LINK */
.selected-link {
    color: rgba(219, 153, 36, 1);
    font-size: 22px;
    font-weight: 800;
}

/* DROPDOWN MENU */
#dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    height: auto;
    background: rgba(1, 36, 86, .9);
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* transition: opacity 0.4s ease, transform 0.4s ease; /* Transition effects */
    /* transform: translateY(-10px); Initial transform state */
    z-index: 3;
}

#dropdown-menu > a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 7px;
    color: white;
    z-index: 10;
}

#dropdown-menu > a:hover {
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(219, 153, 36, 1);
}

#dropdown-menu span {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

/* MOBILE MENU */
.mobile-header {
    display: none;
    flex-direction: row;
}

.mobile-btn-wrap {
    position: fixed;
    top: 15px;
    left: 15px;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 20;
}

#mobile-nav-btn {
    display: inline-flex;
    align-items: center;  
    justify-content: center;
    padding: 0; 
    width: 35px; 
    height: 35px; 
    border: 1px solid black;
    border-radius: 5px;
    background: rgba(14, 165, 233, .9);
    fill: rgba(234, 179, 8, 1);
    cursor: pointer;
}

/* nav overlay dialog menu */
#mobile-dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(1, 36, 86, 0.4);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    z-index: 1000;
    border: none;
    outline: none;
}

#mobile-dialog > nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.nav-cls-btn-wrp {
    position: absolute;
    box-sizing: border-box;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: end;
    width: 100%;
}

.dialog-lnks-wrap {
    min-height: 300px;
}

.dialog-lnks-wrap > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-close-btn {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    padding: 0;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    fill: white;
    background: rgba(1, 1, 1, .4);
    cursor: pointer;
}

.dialog-lnks-wrap .head-link-item > .unselected,
.dialog-lnks-wrap .head-link-item.unselected {
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.dialog-lnks-wrap .head-link-item > .unselected:hover,
.dialog-lnks-wrap .head-link-item > .unselected:active,
#nav-srvc-menu .unselected:active {
    color: rgba(219, 153, 36, 1);
    font-size: 28px;
}

.dialog-lnks-wrap .head-link-item > .selected-link {
    color: rgba(219, 153, 36, 1);
    font-size: 28px;
    background: inherit;
}

#nav-srvc-menu {
    display: none;
    width: 70%;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#nav-srvc-menu a {
    color: rgba(219, 153, 36, 1);
    background: rgba(14, 165, 233, .4);
    border-radius: 5px;
    padding: 4px 10px;
}


/* ABOUT INFO */
.about-cont-wrap {
    /* border: 1px solid green; */
}

section > .about-cont-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    box-sizing: border-box;
    min-height: 550px;
    max-height: max-content;
    min-width: 550px;
    max-width: 100%;
    gap: 25px;
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
}

.content-left-wrap {
    max-width: 375px;
}
.content-left-wrap > h2 {
    font-size: 1.3rem;
    color: rgba(33, 80, 173, 1);
}

.content-left-wrap > h2,
.content-left-wrap > p {
    padding-top: 0;
    margin: 0;
}

.content-left-wrap > p {
    padding-top: 10px;
    font-weight: 500;
    color: rgba(16, 28, 86, .7);
}


/* IMG / slider section */
.but-img-mast-wrap {
    box-sizing: border-box;
    height: max-content;  
    width: 350px;
    height: 486px;
    position: relative;
}

.img-slider-wrap {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

#img-content {
    box-sizing: border-box;
    height: 468px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* img spec props */
.img-cont {
    box-sizing: border-box;
    height: 468px;
    width: 350px;
    z-index: 0;
}

.img-cont > img {
    width: 100%;
    height: 100%;
}

#img-5 > img {
    object-fit: cover;
    object-position: center;
}

/* img slider buttons */
.scroll-slider {
    position: absolute;
    height: 50px;
    width: 40px;
    border: none;
    padding: 2px;
    background: none;
    z-index: 5;
    top: 45%;
}


.scroll-l {
    left: 0;
}

.scroll-r {
    right: 0;
}

#Capa_r {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
    fill: #7dd3fc;
}

#Capa_l {
    width: 100%;
    height: 100%;
    transform: rotate(270deg);
    /* fill: rgba(234, 179, 8, .9); */
    fill: #7dd3fc;
}


/* About - bottom: contact us */
.contactus-bottom-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 200px;
    padding-bottom: 60px;
}

.contus-insd-wrap {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contus-insd-wrap > h2 {
    color: rgba(232, 123, 11, .9);
    margin: 0;
    font-family: 'Noto Sans';
}

.contus-insd-wrap > h3 {
    color: rgba(16, 28, 86, 1);
    font-family: 'Noto Sans';
}

.contactus-bottom-wrap > div {
    /* border: 1px solid black; */
}

.contactus-bottom-wrap > div > h2,
.contactus-bottom-wrap > div > h3 {
    text-align: center;
}

.about-botm-btn {
    box-sizing: border-box;
    all: unset;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 3px;
    padding: 5px 20px;
    /* color: rgba(232, 123, 11, 1); */
    color: white;
    background: rgba(33, 80, 173, 1);
    max-width: 180px;
    cursor: pointer;
    font-weight: 550;
    font-size: 1rem;
    font-family: 'Noto Sans';
}

.about-botm-btn:hover {
    /* background: rgba(20, 38, 100, .9); */
    color: rgba(232, 123, 11, 1);
}

/* DIVIDER */
.divider-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: 35px;
    min-width: 100%;
}

.divider-spn {
    width: 65%;
    height: 2.5px;
    background: rgba(33, 80, 173, 1);
}

/* preFooter */
#preFooter {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: inherit;
    -webkit-font-smoothing: antialiased;
}

.svg-icon--list {
    display: flex;
    gap: 8px;
    width: max-content;
    height: max-content;
    padding: 25px;
}

.svg-icon--list a {
    color: rgb(16, 44, 100);
    text-decoration: none;
    background: transparent;
    border-radius: 50%;
}


.svg-icon--wrapper {
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    box-shadow: 0 0 0 2px inset;
    border: none;
}

.svg-icon--social {
    background-color: inherit;
    color: #c9c9c9;
    border-radius: 50%;
}

.facebook > .use--icon {
    fill: white;
}

.yelp > .use--icon {
    fill: red;
}

.use--mask {
    fill: rgba(14, 165, 233, 1);
    border-radius: 50%;
}

.yelp > .use--mask {
    fill: transparent;
}

/* FOOTER SECTION */
.index-footer {
    min-height: 430px;
    display: flex;
    justify-content: center;
    background: rgba(14, 165, 233, 1);
    position: relative;
}

#siteInfo {
    display: none;
    position: absolute;
    top: 5;
}

#siteInfo > span {
    color: rgba(255, 255, 255, .8);
}
 
.logo-foot-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

.foot-contact-left {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 430px;
}

.foot-contact-left > h2 {
    margin: 0;
    font-size: 1.7rem;
}

.foot-contact-left > h3 {
    color: rgba(234, 179, 8, 1);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Noto Sans';
}

.foot-contact-left > span {
    font-size: .6rem;
}
 
.footer-logo {
    box-sizing: border-box;
    background-color: rgba(234, 179, 8, .9);
    display: block;
    aspect-ratio: 1.53 / 1;
    width: 90%;
    max-width: 400px;
    height: auto;
    border: 1px solid rgba(234, 179, 8, .9);
    border-radius: 5px;
}

.footer-logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo-foot-wrap > div > h2 {
    color: rgba(240, 233, 221, 1);
}

.foot-links {
    display: flex;
    gap: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 5px;
}

#phone-number {
    margin: 0;
    padding: 0;
    width: max-content;
    font-size: 2.5rem;
    color: rgba(240, 233, 221, 1);
    border-bottom: .1px solid rgba(240, 233, 221, .4);
    padding-bottom: 3px;
    font-family: 'Noto Sans';
}

#phone-number > a {
    color: inherit;
}

#phone-number > a:hover {
    color: rgba(219, 153, 36, .8);
}

.foot-link {
    border-bottom: .1px solid rgba(240, 233, 221, .4);
}

.foot-link > a {
    color: rgba(240, 233, 221, 1);
    /* color: rgba(219, 153, 36, 1); */
    font-size: .9rem;
    font-weight: 500;   
}

/* MEDIA QUERIES */
@media screen and (width < 741px) {
    section > .about-cont-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 310px;
        padding-top: 20px;
    }

    .about-top-sub-cont {
        height: 60%;
    }

    .about-botm-btn:active {
        color: rgba(219, 153, 36, 1);
    }

/* footer */
.logo-foot-wrap {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
}

.foot-contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.foot-contact-left > h2 {
    text-align: center;
}

#phone-number > a:active {
    color: rgba(219, 153, 36, 1);
}

.foot-links {
    padding-top: 35px;
    padding-bottom: 5px;
}

.footer-logo {
    display: block;
    aspect-ratio: 1.53 / 1;
    width: 90%;
    max-width: 400px;
    height: auto;
    border: 1px solid rgba(234, 179, 8, .9);
    border-radius: 5px;
    object-fit: contain;
}

/* non-mobile-header */
    .top-main {
        display: none;
    }

 /* MOBILE NAV MENU */
    .mobile-header {
        position: absolute;
        top: 0;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .head-logo {
        width: 200px;
        height: 130px;
    }
}

@media screen and (width < 401px) { 
    section > .about-cont-wrap {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    /* img slider */
    .but-img-mast-wrap {
        height: 401.1px;
        width: 300px;
    }

    #img-content {
        height: 401.1px;
    }  

    .img-cont {
        height: 401.1px;
        width: 300px;
    }

    /* footer  */
    .foot-link > a {
        font-size: .8rem;
    }

    #phone-number {
        font-size: 2.1rem;
    }

    .foot-links {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 9px;
    }

    

}



/* 767px - 1025px width for lower links */
/* under 767px is dialog corner menu */



/*# sourceMappingURL=about.36d4ffa7ac94ad12c93a.css.map*/