/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/contact.css ***!
  \**************************************************************************/
/* contact.css */

@font-face {
    font-family: 'Alegreya SC';
    src: url(0f220b52f43e80d3c03f.ttf);
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(b1d0ab70303caea663db.ttf);
    font-display: swap;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
 }

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: rgba(201, 170, 180, .3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* MAIN/WRAP */
#about-main-body {
    display: flex;
    flex-direction: column;
}

/* ABOUT TOP LANDING */
#landing-wrap {
    background-image: url(ac4321e6ab639487f744.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 80vh;
    width: 100%;
    z-index: 0;
    max-height: 900px;
}

.landing-overlay {
    position: absolute;
    height: 80vh;
    max-height: 900px;
    width: 100%;
    background: rgba(135, 121, 171, 0.3);
    backdrop-filter: blur(7px);
    z-index: 1;

}

.about-top-sub-cont {
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    z-index: 3;
}

.about-top-sub-cont i {
    color: rgba(219, 153, 36, .9);
}

.about-top-sub-cont > h1 {
    color: rgba(1, 36, 86, 1);
    font-family: 'Alegreya SC', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.about-top-sub-cont > h3 {
    color: rgba(1, 36, 86, 1);
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
}


/* HEADER */
.top-main {
    position: absolute;
    width: 100vw;
    height: auto;
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 3;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 5px;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.head-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
   
    padding: 8px 8px;
    margin: 0;
    height: min-content;
    cursor: pointer;
};

.head-logo {
    text-decoration: none;
    color: inherit;
}

.head-link-item > a,
#nav-srvc-menu a {
    box-sizing: border-box;
    text-decoration: none;
 }

.head-link-item > .unselected,
.head-link-item.unselected {
    color: rgba(1, 36, 86, 1);
    font-size: 22px;
    font-weight: 800;
}

.head-link-item > .unselected:hover,
.head-link-item > .unselected:active {
    color: rgba(219, 153, 36, 1);
}

.head-logo {
    position: relative;
    width: 180px;
    height: 120px;
}

.head-logo a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.head-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* HEADER: SELECTED PAGE LINK */
.selected-link {
    color: rgba(219, 153, 36, 1);
    font-size: 22px;
    font-weight: 800;
}


/* DROPDOWN MENU */
#dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    height: auto;
    background: rgba(1, 36, 86, .9);
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* transition: opacity 0.4s ease, transform 0.4s ease; /* Transition effects */
    /* transform: translateY(-10px); Initial transform state */
    z-index: 3;
}

#dropdown-menu > a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 7px;
    color: white;
    z-index: 10;
}

#dropdown-menu > a:hover {
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(219, 153, 36, 1);
}

#dropdown-menu span {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

/* MOBILE MENU */
.mobile-header {
    display: none;
    flex-direction: row;
}

.mobile-btn-wrap {
    position: fixed;
    top: 15px;
    left: 15px;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 20;
}

#mobile-nav-btn {
    display: inline-flex;
    align-items: center;  
    justify-content: center;
    padding: 0; 
    width: 35px; 
    height: 35px; 
    border: 1px solid black;
    border-radius: 5px;
    background: rgba(14, 165, 233, .9);
    fill: rgba(234, 179, 8, 1);
    cursor: pointer;
}


/* nav overlay dialog menu */
#mobile-dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(1, 36, 86, 0.4);
    backdrop-filter: blur(7px);
    z-index: 1000;
    border: none;
    outline: none;
}

#mobile-dialog > nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.nav-cls-btn-wrp {
    position: absolute;
    box-sizing: border-box;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: end;
    width: 100%;
}

.dialog-lnks-wrap {
    min-height: 300px;
}

.dialog-lnks-wrap > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-close-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    fill: white;
    background: rgba(1, 1, 1, .4);
    cursor: pointer;
}

.dialog-lnks-wrap .head-link-item > .unselected,
.dialog-lnks-wrap .head-link-item.unselected {
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.dialog-lnks-wrap .head-link-item > .unselected:hover,
.dialog-lnks-wrap .head-link-item > .unselected:active,
#nav-srvc-menu .unselected:active {
    color: rgba(219, 153, 36, 1);
    font-size: 28px;
}

.dialog-lnks-wrap .head-link-item > .selected-link {
    color: rgba(219, 153, 36, 1);
    font-size: 28px;
    background: inherit;
}

#nav-srvc-menu {
    display: none;
    width: 70%;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#nav-srvc-menu a {
    color: rgba(219, 153, 36, 1);
    background: rgba(14, 165, 233, .4);
    border-radius: 5px;
    padding: 4px 10px;
}


/* CONTACT INFO AREA */
.contact-info-wrap {
    display: flex;
}

section > .contact-info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.info-subwrap {
    min-width: 91.5%;
    max-width: 700px;
}

.cont-into-title {
    text-align: center;
    font-size: 26px;
    letter-spacing: .1rem;
    color: rgba(1, 36, 86, 1);
}

/* upper divider */
.divider-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 35px;
    min-width: 100%;
}

.divider-spn {
    width: 75%;
    height: 2.5px;
    background: #0369a1;
}

.contact-subwrap {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    min-width: 91.5%;
    max-width: 700px;
    background: rgba(14, 165, 233, .5);
    border-left: 4px solid rgba(14, 165, 233, .9);
    padding: 15px;
}

.adr-link-wrap > a {
    color: inherit;
    text-decoration: underline solid white;
}

.cont-into-box {
    padding: 10px;
}

.cont-into-box > h3 {
    margin: 0;
    padding-bottom: 12px;
    color: rgba(219, 153, 36, 1);
    font-size: 21px;
    width: max-content;
    -webkit-font-smoothing: antialiased;
}

.email-num-cont {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.cont-into-box p {
    padding: 0;
    margin: 0;
    color: rgba(16, 28, 86, 1);
    font-size: 1rem;
    font-weight: 500;
}

.email-num-cont > p {
    border-radius: 5px;
    padding: 6px 3px;
    width: max-content;
}

.email-num-cont > p:hover,
.email-num-cont > p:active {
    border-radius: 5px;
    background: rgba(219, 153, 36, 1);
    color:rgba(16, 28, 86, 1);
}

.email-num-cont a {
    text-decoration: none; 
    color: inherit;
    height: 100%;
    width: 100%;
}

/* divider */
.divider-wrap-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 5%;
}

.divider-spn-lower {
    width: 2.5px;
    height: 60%;
    background: white;
}


/* MAP SECTION */
.map-wrap {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 5px;
    min-width: 91.5%;
}

#goog-map {
    width: 100%;
    min-height: 340px;
    box-sizing: border-box;
    border: none;
    border-left: 4px solid rgba(14, 165, 233, .9)
}


/* Form */
.form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 30px;
    gap: 5px;
}

.form-section-intro {
    color: #0369a1;
    text-align: center;
    box-sizing: border-box;
    width: 88%;
}

.form-section-title {
    box-sizing: border-box;
    width: 88%;
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
}

#contact-form {
    width: 85%;
    border-left: 4px solid rgba(14, 165, 233, .9);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-input-field {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.form-input-field:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.name-group {
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    gap: 8px;
}

#form-submit {
    all: unset;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 7px 30px;
    color: rgba(232, 123, 11, 1);
    background: rgba(33, 80, 173, .9);
    width: 15%;
}

#form-submit:hover {
    background: rgba(16, 28, 86, .9);
}

textarea.form-input-field {
    resize: vertical;
    min-height: 100px;
    max-width: 100%;
}

.form-label {
    font-size: 1rem;
}

.form-req-span {
    color: red;
}

/* preFooter */
#preFooter {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: inherit;
    -webkit-font-smoothing: antialiased;
}

.svg-icon--list {
    display: flex;
    gap: 8px;
    width: max-content;
    height: max-content;
    padding: 25px;
}

.svg-icon--list a {
    color: rgb(16, 44, 100);
    text-decoration: none;
    background: transparent;
    border-radius: 50%;
}


.svg-icon--wrapper {
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    box-shadow: 0 0 0 2px inset;
    border: none;
}

.svg-icon--social {
    background-color: inherit;
    color: #c9c9c9;
    border-radius: 50%;
}

.facebook > .use--icon {
    fill: white;
}

.yelp > .use--icon {
    fill: red;
}

.use--mask {
    fill: rgba(14, 165, 233, 1);
    border-radius: 50%;
}

.yelp > .use--mask {
    fill: transparent;
}


/* FOOTER SECTION */
.index-footer {
    min-height: 430px;
    display: flex;
    justify-content: center;
    background: rgba(14, 165, 233, 1);
    position: relative;
}

#siteInfo {
    display: none;
    position: absolute;
    top: 5;
}

#siteInfo > span {
    color: rgba(255, 255, 255, .8);
}
 
.logo-foot-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

.foot-contact-left {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 430px;
}

.foot-contact-left > h2 {
    margin: 0;
    font-size: 1.7rem;
}

.foot-contact-left > h3 {
    color: rgba(234, 179, 8, 1);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Noto Sans';
}

.foot-contact-left > span {
    font-size: .6rem;
}
 
.footer-logo {
    box-sizing: border-box;
    background-color: rgba(234, 179, 8, .9);
    display: block;
    aspect-ratio: 1.53 / 1;
    width: 90%;
    max-width: 400px;
    height: auto;
    border: 1px solid rgba(234, 179, 8, .9);
    border-radius: 5px;
}

.footer-logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo-foot-wrap > div > h2 {
    color: rgba(240, 233, 221, 1);
}

.foot-links {
    display: flex;
    gap: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 5px;
}

#phone-number {
    margin: 0;
    padding: 0;
    width: max-content;
    font-size: 2.5rem;
    color: rgba(240, 233, 221, 1);
    border-bottom: .1px solid rgba(240, 233, 221, .4);
    padding-bottom: 3px;
    font-family: 'Noto Sans';
}

#phone-number > a {
    color: inherit;
}

#phone-number > a:hover {
    color: rgba(219, 153, 36, .8);
}

.foot-link {
    border-bottom: .1px solid rgba(240, 233, 221, .4);
}

.foot-link > a {
    color: rgba(240, 233, 221, 1);
    /* color: rgba(219, 153, 36, 1); */
    font-size: .9rem;
    font-weight: 500;
}


/* works for far */
@media screen and (width < 741px) {

#landing-wrap {
    justify-content: end;
}

.about-top-sub-cont {
    max-width: 500px;
    height: 65%;
}

.contact-subwrap {
    min-width: 100%;
}

/* map */
.map-wrap {
    min-width: 100%
}


/* form */
.form-label {
    font-size: .9rem;
}

/* footer */
.logo-foot-wrap {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
}

.foot-contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.foot-contact-left > h2 {
    text-align: center;
}

#phone-number > a:active {
    color: rgba(219, 153, 36, 1);
}

.foot-links {
    padding-top: 35px;
    padding-bottom: 5px;
}

.footer-logo {
    display: block;
    aspect-ratio: 1.53 / 1;
    width: 90%;
    max-width: 400px;
    height: auto;
    border: 1px solid rgba(234, 179, 8, .9);
    border-radius: 5px;
    object-fit: contain;
}

/* non-mobile-header */
.top-main {
    display: none;
}

/* MOBILE NAV MENU */
    .mobile-header {
        position: absolute;
        top: 0;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        z-index: 4;
    }

    .head-logo {
        width: 200px;
        height: 130px;
    }
}


@media screen and (width < 650px) {
/* contact section */
    .contact-subwrap {
        flex-direction: column;
        align-items: start;
        padding-left: 8px;
        padding-right: 8px;
    }

    /* dividers for contact */
    .divider-wrap-lower {
        justify-content: center;
        width: 100%;
        height: 20px;
    } 

    .divider-spn-lower {
        width: 45%;
        height: 2.5px;
    }

    .email-num-cont > p {
        padding: 6px 0px;
    }
}


@media screen and (width < 401px) { 
    /* form */
    .form-label {
        font-size: .8rem;
    }

    /* footer  */
    .foot-link > a {
        font-size: .8rem;
    }

    #phone-number {
        font-size: 2.1rem;
    }

    .foot-links {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 9px;
    }
}



/*# sourceMappingURL=contact.de830f728af702d274ca.css.map*/